h1
{
	text-align:center;
	font-size: 300%;
}


body 
{ 
  background-color: #8888ff;
}
#body {
	background: #8888ff;
}
table 
{
	width: 80%;
	height: 100%;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	border-collapse: collapse;
	cellspacing: 8px;
}

th, td 
{
    border-bottom: 8px solid #8888ff;
}

td 
{
	
  	font-size: 2.0em;
	text-align:left;
	background-color:#999999; 
}

th 
{
    height: 50px;
}

#credits
{
	font-family:Helvetica;
	font-size:15;
	text-align:right;
	color:#fdf3ec;
}

